/* for index.html */

h1 {
        text-align: center;
        font-size: 64px;
        background-color: #F5F5F5; /* Whitesmoke */
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 20%;
        margin-right: 20%;
}

body {
        font-family: Helvetica,sans-serif;
        background-color: #F5F5F5;
}

p {
        font-size: 24px;
        color: white;
}

#name {
        font-family: Arial;
        font-size: 24px;
}